
.nav-item{
    padding:2px;
    margin-left: 7px;
}

.nav-link-color {
    color: white !important;
}

.headerImage {
    padding: 15px 10px 15px 0px;
    margin-left: 20px;
}

.headerBackground{
    background-color: rgb(49, 38, 29);
    height: 70px;
}
.user-text{
    float: right;
    padding: 23px 40px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}