
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.50rem;
    text-align: left;
    color: 000;
    background-color: #d8cfc6;
    z-index: 100000;
}

.text-xs-center {
    font-size: small;
}